@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: #ffffff;
    --text: #171717;
    --accent: #25abcb;
  }

  body {
    @apply font-primary bg-background text-text;
    margin: 0 auto;
    letter-spacing: -0.05em;
  }

  nav {
    @apply font-primary bg-background text-text;
  }

  main {
    @apply flex flex-col;
    letter-spacing: -0.05em;
    max-width: 80%;
    margin: 0 auto;
  }

  h1 {
    @apply font-header text-4xl my-4 text-text;
    font-weight: 700;
  }

  h2 {
    @apply font-header text-xl mt-6 text-accent;
  }

  p {
    @apply font-primary;
    font-weight: 300;
  }
}
