@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: #ffffff;
    --text: #171717;
    --accent: #25abcb;
  }

  body {
    padding: 20px 20px 60px;
    max-width: 680px;
    margin: 0 auto;
    @apply font-primary
  }

  h1 {
    padding: 80px 0px 20px;
    font-size: 18pt;
    color: var(--accent);
    @apply font-header
  }
  
} 
 